@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-j76s4s');
	src:url('../fonts/icomoon.eot?#iefix-j76s4s') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-j76s4s') format('woff'),
		url('../fonts/icomoon.ttf?-j76s4s') format('truetype'),
		url('../fonts/icomoon.svg?-j76s4s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow_down:before {
	content: "\e600";
}

.icon-arrow_left:before {
	content: "\e601";
}

.icon-arrow_right:before {
	content: "\e602";
}

.icon-arrow_up:before {
	content: "\e603";
}

.icon-calendar:before {
	content: "\e604";
}

.icon-checklist:before {
	content: "\e605";
}

.icon-cloud_download:before {
	content: "\e606";
}

.icon-comment_like_ko:before {
	content: "\e607";
}

.icon-comment_like_ok:before {
	content: "\e608";
}

.icon-comment_outline:before {
	content: "\e609";
}

.icon-comment_question_mark:before {
	content: "\e60a";
}

.icon-comment:before {
	content: "\e60b";
}

.icon-laws:before {
	content: "\e60c";
}

.icon-people_ring:before {
	content: "\e60d";
}

.icon-people:before {
	content: "\e60e";
}

.icon-question_mark_outline:before {
	content: "\e60f";
}

.icon-question_mark:before {
	content: "\e610";
}

.icon-share_email:before {
	content: "\e611";
}

.icon-share_facebook:before {
	content: "\e612";
}

.icon-share_google_plus:before {
	content: "\e613";
}

.icon-share_twitter:before {
	content: "\e614";
}

.icon-tick_ko_outline:before {
	content: "\e615";
}

.icon-tick_ko:before {
	content: "\e616";
}

.icon-tick_ok_outline:before {
	content: "\e617";
}

.icon-tick_ok:before {
	content: "\e618";
}
