// Variables
@df-grey-bg: #E6E6E6;
@df-grey-footer: darken(@df-grey-bg, 60%);
@df-magenta: #FF4486;
@df-magenta-dark: darken(@df-magenta, 25%);
@df-magenta-light: lighten(@df-magenta, 25%);
@df-border: solid 5px @df-magenta-dark;

// Scaffolding
@body-bg: @df-grey-bg;
@brand-primary: @df-magenta;
@link-color: @df-magenta;
@link-hover-color: darken(@link-color, 25%);

// Borders
@border-radius-base: 8px;
@border-radius-small: 4px;
@border-radius-large: 12px;

// Grid
//@grid-gutter-width: 40px;

// Navbar
@navbar-height: 55px;
@navbar-default-border: transparent;
//@navbar-default-color: @df-magenta-dark;
@navbar-default-bg: white;
//@navbar-default-brand-color: @ffgrey;
//@navbar-default-link-color: @df-magenta;
//@navbar-default-link-hover-color: @fforange;
@navbar-default-link-active-color: @df-magenta-dark;
@navbar-default-link-active-bg: transparent;
//@navbar-default-brand-color: white;
//.navbar { border: none }
nav.navbar {
  border: transparent;
  border-bottom: @df-border;
}
a#nvbid {
  color: @df-magenta-dark;
}

// Customs
body {
  padding-top: 100px;
}

.row {
  margin-bottom: 20px;
}

.thumbnail, .well {
  background-color: white;
}

.well {

}

.angular-google-map-container {
  height: 400px;
}

footer {
  color: white;
  padding-top: 20px;
  padding-bottom: 40px;
  background: @df-grey-footer;
  div.row { margin-bottom: 0 }
  a, a:hover { color: white }
  a:hover { text-decoration: underline }
}
