<div class="row" style="margin-bottom:22px">
    <div class="col-md-12">
        <div class="banner">
            <div class="overlap">
                <img class="img-responsive center-block" src="{{ asset('bundles/demofony2app/images/titular-fons-mar-gran.jpg') }}" alt="Blue sea background"/>
            </div>
        </div>
    </div>
</div>
