<div class="row">
    <div class="col-md-12">
        <div class="banner">
            <div class="overlap">
                <img class="img-responsive center-block" data-src="holder.js/1140x230/#7EA0B6:#7EA0B6" alt="dummy"/>
            </div>
        </div>
    </div>
</div>
