/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/databases/*
!app/databases/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/node_modules
/bower_components
/build/
/vendor/
/bin/
/composer.phar
/src/Demofony2/AppBundle/DataFixtures/ORM/uploaded/*
!src/Demofony2/AppBundle/DataFixtures/ORM/uploaded/.gitkeep
/web/bundles/
/web/components/*
/web/uploads/*
!web/uploads/.gitkeep
Capfile
/app/config/deploy.rb
/app/config/capifony/*
/web/media/*
!web/media/.gitkeep
!web/media/cache/.gitkeep
!.jshintrc
gulp-config.json
