/app/bootstrap.php.cache
/app/cache/
!/app/cache/.gitkeep
/app/config/parameters.yml
/app/config/capifony/
/app/config/deploy.rb
/app/databases/
!/app/databases/.gitkeep
/app/logs/
!/app/logs/.gitkeep
/app/phpunit.xml

/backups/
/bin/
/bower_components/
/build/

Capfile
/composer.phar

gulp-config.json

!.jshintrc

/node_modules/

/src/Demofony2/AppBundle/DataFixtures/ORM/uploaded/
!/src/Demofony2/AppBundle/DataFixtures/ORM/uploaded/.gitkeep

/vendor/

/web/bundles/
/web/components/
/web/media/
!web/media/.gitkeep
!web/media/cache/.gitkeep
!/web/uploads/.gitkeep
/web/uploads/images/*
/web/uploads/images/user/*
!/web/uploads/images/user/1.jpg
!/web/uploads/images/user/2.jpg
!/web/uploads/images/user/3.jpg
!/web/uploads/images/user/4.jpg
!/web/uploads/images/user/5.jpg
/web/uploads/images/participation/*
!/web/uploads/images/participation/1.jpg
!/web/uploads/images/participation/2.jpg
!/web/uploads/images/participation/3.jpg
!/web/uploads/images/participation/4.jpg
!/web/uploads/images/participation/5.jpg
/web/uploads/documents/*
!/web/uploads/documents/1.jpg
!/web/uploads/documents/2.jpg
!/web/uploads/documents/3.jpg
!/web/uploads/documents/4.jpg
!/web/uploads/documents/5.jpg
/web/uploads/finder/*
!/web/uploads/finder/.gitkeep
/web/uploads/images/category/*
/web/uploads/gallery/*
