/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/databases/*
!app/databases/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/src/Demofony2/AppBundle/DataFixtures/ORM/uploaded/*
!src/Demofony2/AppBundle/DataFixtures/ORM/uploaded/.gitkeep
web/components/*
web/css/*
web/js/*

web/uploads/*
!web/uploads/.gitkeep