imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

parameters:
    router.request_context.host: %app_domain_name%

framework:
    #esi:             ~
    translator:      { fallback: "%locale%" }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: [ 'twig' ]
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        cookie_lifetime: 31536000 #1 year
        save_path: "%kernel.root_dir%/sessions"
        handler_id: session.handler.native_file
        name: demofony2
    fragments:       ~
    http_method_override: true

# Sensio Framework Extra
sensio_framework_extra:
    view:
        annotations: false

# Twig
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form:
        resources:
#            - "bootstrap_3_layout.html.twig"
            - ':Admin/Form:datepicker.html.twig'
#            - 'SonataCoreBundle:Form:datepicker.html.twig'
            - ':Front/Form:google_maps.html.twig'
            - ':Admin/Form:demofony2_admin_fields.html.twig'
    globals:
        google_analytics_enabled: %google_analytics_enabled%
        google_analytics_account: "%google_analytics_account%"

# Assetic
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        [ 'OhGoogleMapFormTypeBundle' ]

# Doctrine
doctrine:
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
    orm:
        auto_generate_proxy_classes:  "%kernel.debug%"
        auto_mapping:                 true
        naming_strategy:              doctrine.orm.naming_strategy.underscore
        filters:
            softdeleteable:
                class:    Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                enabled:  true
            published_filter:
                class:   Demofony2\AppBundle\Filter\PublishedFilter
                enabled: false
        dql:
            string_functions:
              MONTH: DoctrineExtensions\Query\Mysql\Month
              YEAR: DoctrineExtensions\Query\Mysql\Year
              WEEK: DoctrineExtensions\Query\Mysql\Week
              DATE_FORMAT: DoctrineExtensions\Query\Mysql\DateFormat

# Swiftmailer
swiftmailer:
    encryption: ssl
    auth_mode:  login
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

# Vich Uploader
vich_uploader:
    db_driver: orm
    mappings:
        category_image:
            uri_prefix: /uploads/images/category
            upload_destination: %kernel.root_dir%/../web/uploads/images/category
            inject_on_load: true
            delete_on_remove: true
            delete_on_update: true
            namer: vich_uploader.namer_origname
        user_profile_image:
            uri_prefix: /uploads/images/user
            upload_destination: %kernel.root_dir%/../web/uploads/images/user
            inject_on_load: true
            delete_on_remove: true
            delete_on_update: true
            namer: vich_uploader.namer_origname
        participation_document:
            uri_prefix: /uploads/documents
            upload_destination: %kernel.root_dir%/../web/uploads/documents
            inject_on_load: true
            delete_on_remove: true
            delete_on_update: true
            namer: vich_uploader.namer_origname
        participation_image:
            uri_prefix: /uploads/images/participation
            upload_destination: %kernel.root_dir%/../web/uploads/images/participation
            inject_on_load: true
            delete_on_remove: true
            delete_on_update: true
            namer: vich_uploader.namer_origname

# Liip Imagine
liip_imagine:
    resolvers:
       default:
          web_path: ~
    filter_sets:
        cache: ~
        front_menu_logo:
            quality: 85
            filters:
                thumbnail: { size: [ 200, null ], mode: outbound }
        newsletter_menu_logo:
            quality: 85
            filters:
                thumbnail: { size: [ 100, null ], mode: outbound }
        top_menu_profile:
            quality: 90
            filters:
                thumbnail: { size: [ 16, 16 ], mode: outbound }
        small:
            quality: 85
            filters:
                thumbnail: { size: [ 320, null ], mode: outbound }
        big:
            quality: 75
            filters:
                thumbnail: { size: [ 800, null ], mode: outbound }
        front_heading:
            quality: 80
            filters:
                thumbnail: { size: [ 1140, 258 ], mode: outbound }
        400xY:
            quality: 80
            filters:
                thumbnail: { size: [ 400, null ], mode: outbound }
        60x60:
            quality: 70
            filters:
                thumbnail: { size: [ 60, 60 ], mode: outbound }
        80x80:
            quality: 90
            filters:
                thumbnail: { size: [ 80, 80 ], mode: outbound }
        150x150:
            quality: 75
            filters:
                thumbnail: { size: [ 150, 150 ], mode: outbound }
        263x263:
            quality: 80
            filters:
                thumbnail: { size: [ 263, 263 ], mode: outbound }
        transparency_link:
            quality: 80
            filters:
                thumbnail: { size: [ 380, 380 ], mode: outbound }
        555x253:
            quality: 80
            filters:
                thumbnail: { size: [ 555, 253 ], mode: outbound }
        1140x153:
            quality: 80
            filters:
                thumbnail: { size: [ 1140, 153 ], mode: outbound }
        1140x256:
            quality: 80
            filters:
                thumbnail: { size: [ 1140, 256 ], mode: outbound }

        100xY:
            quality: 80
            filters:
                thumbnail: { size: [ null, 100 ], mode: outbound }

# JMS i18n Routing
jms_i18n_routing:
    default_locale: "%locale%"
    locales:        [ ca ]
    strategy:       prefix_except_default

# JMS Translations
jms_translation:
    configs:
        app:
            dirs:           [ %kernel.root_dir%, %kernel.root_dir%/../src ]
            output_dir:     %kernel.root_dir%/Resources/translations
            excluded_names: [ "*TestCase.php", "*Test.php" ]
            excluded_dirs:  [ cache, data, logs, Application, ComurImageBundle ]
            extractors:     [ jms_i18n_routing ]

# Doctrine Extensions
stof_doctrine_extensions:
    default_locale:       "%locale%"
    translation_fallback: true
    orm:
        default:
            translatable:   false
            softdeleteable: true
            timestampable:  true
            sluggable:      true
            tree:           true
            sortable:       true

# Sonata Block
sonata_block:
    default_contexts: [ admin ]
    blocks:
        sonata.block.service.text:
        sonata.admin.block.admin_list:
        app.block.comment:
        app.block.proposal:
        app.block.analytics:
        app.block.participation_statistics:

# Sonata Admin
sonata_admin:
    title: 'GO Premià'
    title_logo: /bundles/demofony2app/images/logo-without-text-admin.png
    options:
        html5_validate: true
        confirm_exit:   true
        use_select2:    true
        pager_links:    10
    persist_filters: true
    dashboard:
        blocks:
            -
                position: top
                class: col-md-4
                type: app.block.comment
            -
                position: top
                type: app.block.proposal
                class: col-md-4
                settings:
                    type: institutionalAnswerPending
            -
                position: top
                type: app.block.proposal
                class: col-md-4
                settings:
                    type: votePeriod
            - { position: left,   type: sonata.admin.block.admin_list, settings: { groups: [Participació] } }
            - { position: right,  type: sonata.admin.block.admin_list, settings: { groups: [Transparència] } }
            - { position: right,  type: sonata.admin.block.admin_list, settings: { groups: [CMS] } }
            - { position: left,   type: sonata.admin.block.admin_list, settings: { groups: [Newsletter] } }
            - { position: right,  type: sonata.admin.block.admin_list, settings: { groups: [Sistema] } }
            - { position: bottom, type: app.block.analytics, class: col-md-12 }
        groups:
            Participació:
            Transparència:
            CMS:
            Newsletter:
            Sistema:
    templates:
        user_block:   :Admin:user_block.html.twig
        layout:       :Admin:layout.html.twig

# FOS User
fos_user:
    db_driver:      orm
    firewall_name:  main
    user_class:     Demofony2\UserBundle\Entity\User
    from_email:
        address:        participacio@premiademar.cat
        sender_name:    Participació Premià de Mar
    profile:
        form:
            type: demofony2_user_profile
    registration:
        form:
            type:  demofony2_user_registration
        confirmation:
            enabled:  true
            template: :Mail\User:email_confirmation.html.twig
    resetting:
        email:
            template: :Mail\User:password_resetting.html.twig
    service:
        mailer: app.mail_manager

# FOS Rest
fos_rest:
    routing_loader:
        default_format: json
        include_format: false
    param_fetcher_listener: true
    body_listener:          true
    format_listener:        true
    view:
        view_response_listener: 'force'
    exception:
        messages:
            'Exception': true  #allows all exceptions to pass message to client in production

# KNP Paginator
knp_paginator:
    page_range: 10
    template:
        pagination: KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig

# Nelmio API Doc
nelmio_api_doc: ~

# Mopa Bootstrap
mopa_bootstrap:
    icons:
        icon_set: fontawesome4
    form:
        horizontal:               false
        render_fieldset:          true # default is true
        render_collection_item:   true # default is true
        show_legend:              false # default is true
        show_child_legend:        false # default is false
        render_required_asterisk: true # default is true
        checkbox_label:           'both' # default is both (label|widget|both)
        error_type:               'block' # default is null
#        collection:
#            widget_remove_btn:
#                attr:
#                    class: btn
#                icon: null
#                icon_inverted: false
#            widget_add_btn:
#                attr:
#                    class: btn
#                icon: null
#                icon_inverted: false
#        menu: ~  # enables twig helpers for menu

# Google Analytics API
widop_google_analytics:
    client_id:        %ga_api_client_id%
    profile_id:       %ga_api_profile_id%
    private_key_file: %ga_api_private_key_file%
    http_adapter:     "widop_http_adapter.curl"

# OAuth
hwi_oauth:
    connect:
        account_connector: my_user_provider
    # name of the firewall in which this bundle is active, this setting MUST be set
    firewall_name: main
    resource_owners:
        facebook:
            type:          facebook
            client_id:     %fb_app_id%
            client_secret: %fb_secret%
            scope:         "email, public_profile"
            options:
                display: popup #dialog is optimized for popup window
        twitter:
            type:           twitter
            client_id:      %tw_app_id%
            client_secret:  %tb_secret%
        google:
            type:           google
            client_id:      930418949437-kjedgpmj3kdr5r7rabqocsek9p0ek6df.apps.googleusercontent.com
            client_secret:  pZnsB7M1IwlLW7ovTZ66mdH5
            scope:          "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile"
    fosub:
        username_iterations: 30
        properties:
            facebook: facebookId
            twitter:  twitterId
            google:   googleId

# CKEditor
ivory_ck_editor:
    default_config: default
    plugins:
        youtube:
            path:     "/ckeditor-plugins/youtube/"
            filename: "plugin.js"
    configs:
        default:
            toolbar:  custom
            extraPlugins: "youtube"
            allowedContent: true
            extraAllowedContent: '*(*)'
            filebrowserBrowseRoute: elfinder
            filebrowserBrowseRouteParameters:
                instance: ckeditor
    toolbars:
        configs:
            custom:
                - [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo', '-','Link', 'Unlink', 'Anchor' ]
                - [ 'Bold', 'Italic', 'Strike', '-', 'RemoveFormat' ,'-' ,'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'Maximize' ]
                - [ 'Table', 'HorizontalRule', 'SpecialChar' ,'-' ,'Maximize','Source', '-', 'Image', 'Youtube' ]

# El Finder
fm_elfinder:
    instances:
        ckeditor:
            locale:         "%locale%" # defaults to current request locale
            editor:         ckeditor # other choices are tinymce or simple, and form
            fullscreen:     true # defaults true, applies to simple and ckeditor editors
            include_assets: true # disable if you want to handle loading of the javascript and css assets yourself
            relative_path: true
            connector:
                debug: true # defaults to false
                roots:       # at least one root must be defined
                    uploads:
                        showhidden:     false # defaults to false
                        driver:         LocalFileSystem
                        path:           uploads/finder
                        upload_allow:   [ 'image/png', 'image/jpg', 'image/jpeg' ]
                        upload_deny:    [ 'all' ]
                        upload_max_size:  5M

# Comur Image (cropping)
comur_image: ~

genemu_form:
    select2: ~

# Mandril
hip_mandrill:
    api_key: "%mandril_api_key%"
    default:
        sender:       "participacio@premiademar.cat"
        sender_name:  "Participació Ajuntament Premià de Mar"
