# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     travis
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            ca

    google_analytics_enabled: false
    google_analytics_account: "UA-xxxxxxxx-x"

    secret:            Th1sT0k3n1sN0tS0S3cr3tCh4ng31t

    app_domain_name:   "localhost:8000"
    contact_address:   contact@demofony2.com
