{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.image %}
            <img src="{{ object | image | imagine_filter('60x60') }}">
        {% else %}
            ---
        {% endif %}
    </div>
{% endblock %}