{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.start %}
            {{ object.start | localizeddate('medium', 'none') }}
        {% else %}
            ---
        {% endif %}
    </div>
{% endblock %}
