<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h3 class="no-m"><span class="icon-tick_ko_outline"></span> build in progress...</h3>
        </div>
    </div>
</div>
