{% if app.session.flashbag.peekAll|length > 0 %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span data-aria-hidden="true">&times;</span>
                                <span class="sr-only">{{ 'front.close' | trans }}</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}


