<li class="dropdown" style="margin:0 15px 0 20px">{# TODO remove hardcoded styles #}
    <button type="button" class="dropdown-toggle navbar-btn btn btn-sm btn-info" data-toggle="dropdown"><span class="glyphicon glyphicon-user" data-aria-hidden="true"></span> {{ app.user.username }}{# TODO add profile image #} <b class="caret"></b></button>
    <ul class="dropdown-menu df-dropdown-login-menu">
        <li class=""><a href="{{ path('fos_user_profile_public_show', {username: app.user.username}) }}"><span class="glyphicon glyphicon-user" data-aria-hidden="true"></span> {% trans %}front.home.profile{% endtrans %}</a></li>
        <li class="divider"></li>
        {% if is_granted('ROLE_ADMIN') %}
        <li class=""><a href="{{ path('sonata_admin_dashboard') }}"><i class="fa fa-cogs"></i> {% trans %}front.home.admin{% endtrans %}</a></li>
        <li class="divider"></li>
        {% endif %}
        <li class=""><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off" data-aria-hidden="true"></span> {% trans %}front.home.logout{% endtrans %}</a></li>
    </ul>
</li>
