<li class="dropdown" style="margin:0 10px 0 20px">{# TODO remove hardcoded styles #}
    <button id="button-dropdown-toggle-login-form" type="button" class="dropdown-toggle navbar-btn btn btn-sm btn-primary" data-toggle="dropdown">{% trans %}front.home.login{% endtrans %}</button>
    <ul class="dropdown-menu df-dropdown-login-menu">
        <li>
            <div class="row no-m-bottom">
                <div class="col-md-12">
                    <form class="form" role="form" method="post" action="{{ path("fos_user_security_check") }}" accept-charset="UTF-8" id="login-nav">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="form-group{% if error %} has-error{% endif %}">
                            <label class="sr-only" for="username">{% trans %}front.email{% endtrans %}</label>
                            {% if error %}
                                <span id="helpBlock" class="help-block">{{ error.messageKey | trans(error.messageData, 'security') }}</span>
                            {% endif %}
                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="{% trans %}front.email{% endtrans %}" required="required">
                        </div>
                        <div class="form-group{% if error %} has-error{% endif %}">
                            <label class="sr-only" for="password">{% trans %}front.passwd{% endtrans %}</label>
                            <input type="password" class="form-control" id="password" name="_password" placeholder="{% trans %}front.passwd{% endtrans %}" required="required">
                        </div>
                        {#<div class="checkbox">#}
                            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                            {#<label for="remember_me">{% trans %}front.remember{% endtrans %}</label>#}
                        {#</div>#}
                        <div class="form-group no-m-bottom">
                            <input type="submit" id="_submit" name="_submit" class="btn btn-sm btn-primary" value="{% trans %}front.home.login{% endtrans %}">
                        </div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</li>
{% if error %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#button-dropdown-toggle-login-form').dropdown('toggle');
        });
    </script>
{% endif %}
