<li class="dropdown" style="margin-right:14px">{# TODO remove hardcoded styles #}
    <button id="button-dropdown-toggle-register-form" type="button" class="dropdown-toggle navbar-btn btn btn-sm btn-info" data-toggle="dropdown">{% trans %}front.home.register{% endtrans %}</button>
    <ul class="dropdown-menu df-dropdown-login-menu">
        <li>
            <div class="row no-m-bottom">
                <div class="col-md-12">
                    <form class="form" role="form" method="POST" accept-charset="UTF-8" id="register-nav" {{ form_enctype(registerForm) }}>
                        {{ form_errors(registerForm) }}
                        <div class="form-group{% if not registerForm.username.vars.valid %} has-error{% endif %}">
                            <label class="sr-only" for="fos_user_registration_form_username">{% trans %}front.register.username{% endtrans %}</label>
                            {{ form_errors(registerForm.username) }}
                            <input type="text" class="form-control" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" placeholder="{% trans %}front.register.username{% endtrans %}" required="required">
                        </div>
                        {#<div class="form-group">#}
                            {#<label class="sr-only" for="fos_user_registration_form_name">{% trans %}front.register.name{% endtrans %}</label>#}
                            {#{{ form_errors(registerForm.name) }}#}
                            {#<input type="text" class="form-control" id="fos_user_registration_form_name" name="fos_user_registration_form[name]" placeholder="{% trans %}front.register.name{% endtrans %}" required="required">#}
                        {#</div>#}
                        <div class="form-group{% if not registerForm.email.vars.valid %} has-error{% endif %}">
                            <label class="sr-only" for="fos_user_registration_form_email">email</label>
                            {{ form_errors(registerForm.email) }}
                            <input type="email" class="form-control" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" placeholder="email" required="required">
                        </div>
                        <div class="form-group{% if not registerForm.plainPassword.vars.valid %} has-error{% endif %}">
                            <label class="sr-only" for="fos_user_registration_form_plainPassword_first">{% trans %}front.passwd{% endtrans %}</label>
                            {{ form_errors(registerForm.plainPassword.first) }}
                            <input type="password" class="form-control" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" placeholder="{% trans %}front.passwd{% endtrans %}" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="fos_user_registration_form_plainPassword_second">{% trans %}front.register.repeat{% endtrans %}</label>
                            {{ form_errors(registerForm.plainPassword.second) }}
                            <input type="password" class="form-control" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" placeholder="{% trans %}front.register.repeat{% endtrans %}" required>
                        </div>
                        {#<div class="checkbox">#}
                            {#<label>#}
                                {#<input type="checkbox"> {% trans %}front.register.accept{% endtrans %}#}
                            {#</label>#}
                        {#</div>#}
                        {{ form_widget(registerForm._token) }}
                        <div class="form-group no-m-bottom">
                            <input type="submit" class="btn btn-sm btn-primary" value="{% trans %}front.home.register{% endtrans %}"/>
                        </div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</li>
{% if not registerForm.vars.valid %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#button-dropdown-toggle-register-form').dropdown('toggle');
        });
    </script>
{% endif %}
