<div class="row">
    <div class="col-md-12">
        <div class="well">
            <span class="label label-default df-label-secondary">{% trans %}front.home.levels.title{% endtrans %}</span>
            <div class="row no-m-bottom">
                <div class="col-md-4">
                    <div class="panel panel-info no-m-bottom">
                        <div class="panel-heading">UAB</div>
                        <div class="panel-body">
                            {{ levels.uab }} {% trans %}front.home.levels.indicators{% endtrans %}
                            <div class="progress no-m-bottom">
                                <div class="progress-bar" role="progressbar" data-aria-valuenow="60" data-aria-valuemin="0" data-aria-valuemax="100" style="width: 60%;">60%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info no-m-bottom">
                        <div class="panel-heading">ITA</div>
                        <div class="panel-body">
                            {{ levels.ita }} {% trans %}front.home.levels.indicators{% endtrans %}
                            <div class="progress no-m-bottom">
                                <div class="progress-bar" role="progressbar" data-aria-valuenow="80" data-aria-valuemin="0" data-aria-valuemax="100" style="width: 80%;">80%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info no-m-bottom">
                        <div class="panel-heading">{% trans %}front.home.levels.law{% endtrans %}</div>
                        <div class="panel-body">
                            {{ levels.law }} {% trans %}front.home.levels.indicators{% endtrans %}
                            <div class="progress no-m-bottom">
                                <div class="progress-bar" role="progressbar" data-aria-valuenow="75" data-aria-valuemin="0" data-aria-valuemax="100" style="width: 75%;">75%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
