{% extends ':Mail:base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Nou suggeriment{% endblock %}

{% block body %}
    <p>
        Nou suggeriment enviada: <br>
        <a href="{{ url('admin_demofony2_app_suggestion_show', {id: suggestion.id}) }}">Enllaç</a>
    </p>
{% endblock %}
