{% extends ":Front:layout.html.twig" %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h1 class="no-m-top">{% trans %}front.profile.request_reset_password{% endtrans %}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('fos_user_resetting_request', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('fos_user_resetting_request', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('fos_user_resetting_request', {'_locale': 'en'}) }}{% endblock %}
