<p class="share">
    {{ 'front.home.share' | trans | capitalize }}<br>
    <a class="c-blue-dark" href="#"><span class="icon-share_facebook"></span></a>
    <a class="c-blue-dark" href="#"><span class="icon-share_twitter"></span></a>
    <a class="c-blue-dark" href="#"><span class="icon-share_google_plus"></span></a>
    <a class="c-blue-dark" href="#"><span class="icon-share_email"></span></a>
</p>
