{% if discussion.gps %}
    <div class="row">
        <div class="col-md-12">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" control="map.control">
                <ui-gmap-marker idKey="discussion.id" coords="discussion.gps"></ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>
{% endif %}
{% include ':Front/includes/participation:debate-right-side-gallery-and-docs.html.twig' with {discussion: discussion} %}
{% include ':Front/includes/participation:debate-right-side-vote.html.twig' with {discussion: discussion} %}
