{% if discussion.state is constant('DEBATE', discussion) %}
    <div class="row">
        <div class="col-md-12">
            <h5 class="no-m-top c-blue-dark">{# {{ 'front.participation.discussions.votations' | trans }} #}Per votar fes clic a sobre de l'opció que vulguis escollir.</h5>
            <button class="btn btn-primary anchor-button" type="button" data-ng-repeat="answer in discussion.proposal_answers" data-ng-click="vote(answer)" data-ng-disabled="discussion.user_already_vote && answer && !answer.user_has_vote_this_proposal_answer">
                <span data-ng-class="'[[ answer.icon_name ]]'" style="margin-right:10px"></span>&nbsp;[[ answer.title ]]
            </button>
            <p data-ng-if="!discussion.user_already_vote" class="text-warning"><i class="fa fa-warning"></i> encara no has votat cap opció</p>
            <p data-ng-if="discussion.user_already_vote" class="text-success"><i class="fa fa-info-circle"></i> has votat l'opció que apareix marcada amb color blau fosc, si vols canviar d'opció recorda que primer has de fer clic sobre l'opció original per desmarcar-la abans d'escollir una altra opció</p>
        </div>
    </div>
{% endif %}
