{% if discussion.state is constant('DEBATE', discussion) %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="no-m-top c-blue-dark">{{ 'front.participation.discussions.votations' | trans }}</h3>
            <button class="btn btn-primary anchor-button" type="button" data-ng-repeat="answer in discussion.proposal_answers" data-ng-click="vote(answer)" data-ng-disabled="discussion.user_already_vote && answer && !answer.user_has_vote_this_proposal_answer">
                {# TODO apply vote SVG icon <i class="fa fa-thumbs-up"></i> #}{# optional: [[ answer.votes_count ]] #}
                [[ answer.title ]]
            </button>
        </div>
    </div>
{% endif %}
