<div class="list-group no-m-bottom">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">títol debat 4<small class="pull-right">01/12/2014</small></h4>
        <p class="list-group-item-text">{{ words(20) }}</p>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-xs btn-default" style="margin-top:10px"><i class="fa fa-file-text-o"></i> conclusions</button>
            <button type="button" class="btn btn-xs btn-default" style="margin-top:10px"><i class="fa fa-pie-chart"></i> resultats</button>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">títol debat 5<small class="pull-right">02/12/2014</small></h4>
        <p class="list-group-item-text">{{ words(10) }}</p>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-xs btn-default" style="margin-top:10px"><i class="fa fa-file-text-o"></i> conclusions</button>
            <button type="button" class="btn btn-xs btn-default" style="margin-top:10px"><i class="fa fa-pie-chart"></i> resultats</button>
        </div>
    </a>
</div>
