<div class="list-group no-m-bottom">
    <a href="#" class="list-group-item">
        <h3 class="list-group-item-heading">títol debat 4<small class="pull-right">01/12/2014</small></h3>
        <p class="list-group-item-text">{{ words(20) }}</p>
        <div class="btn-group" role="group" style="margin-top:10px">
            <button class="btn btn-sm btn-default" type="button"><span class="badge">9</span> comentaris</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-up"></i> 2</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-down"></i> 19</button>
            <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-file-text-o"></i> conclusions</button>
            <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-pie-chart"></i> resultats</button>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <h3 class="list-group-item-heading">títol debat 5<small class="pull-right">02/12/2014</small></h3>
        <p class="list-group-item-text">{{ words(10) }}</p>
        <div class="btn-group" role="group" style="margin-top:10px">
            <button class="btn btn-sm btn-default" type="button"><span class="badge">15</span> comentaris</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-up"></i> 12</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-down"></i> 3</button>
            <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-file-text-o"></i> conclusions</button>
            <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-pie-chart"></i> resultats</button>
        </div>
    </a>
</div>
