<div class="row">
    <div class="col-md-12">
        <div class="input-group" style="margin-top:15px">
            <input type="text" class="search-query form-control" placeholder="{{ 'front.search' | trans }}" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="#">
            <div class="advert text-center">
                <h2 class="no-m-top"><span class="icon icon-people"></span></h2>
                <h2>{{ 'front.participation.citizens' | trans }}</h2>
                <p class="p-advert">{{ 'front.participation.discussions.advert' | trans }}</p>
                <p class="no-m-bottom text-right">
                    <span class="c-yellow">{{ 'front.participation.discussions.advertcall' | trans }}</span><span class="icon-arrow_left"></span>
                </p>
            </div>
        </a>
    </div>
</div>
