<div class="list-group no-m-bottom">
    <a href="#" class="list-group-item">
        <h3 class="list-group-item-heading">títol proposta 6<small class="pull-right">23/12/2014</small></h3>
        <p class="list-group-item-text">{{ words(20) }}</p>
        <div class="btn-group extra-m-top" role="group">
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-comment"></i> 3</button>
            <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-pencil-square-o"></i> participar</button>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <h3 class="list-group-item-heading">títol proposta 7<small class="pull-right">24/12/2014</small></h3>
        <p class="list-group-item-text">{{ words(10) }}</p>
        <div class="btn-group extra-m-top" role="group">
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-file"></i> 2</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-comment"></i> 5</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-up"></i> 7</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-down"></i> 0</button>
            <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-pencil-square-o"></i> participar</button>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <h3 class="list-group-item-heading">títol proposta 8<small class="pull-right">27/12/2014</small></h3>
        <p class="list-group-item-text">{{ words(30) }}</p>
        <div class="btn-group extra-m-top" role="group">
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-file"></i> 1</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-comment"></i> 2</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-up"></i> 0</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-down"></i> 1</button>
            <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-pencil-square-o"></i> participar</button>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <h3 class="list-group-item-heading">títol proposta 9<small class="pull-right">28/12/2014</small></h3>
        <p class="list-group-item-text">{{ words(25) }}</p>
        <div class="btn-group extra-m-top" role="group">
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-comment"></i> 15</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-up"></i> 4</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-down"></i> 6</button>
            <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-pencil-square-o"></i> participar</button>
        </div>
    </a>
</div>
