<div class="list-group no-m-bottom">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">títol proposta 6<small class="pull-right">23/12/2014</small></h4>
        <p class="list-group-item-text">{{ words(20) }}</p>
        <button type="button" class="btn btn-xs btn-default" style="margin-top:10px"><i class="fa fa-pencil-square-o"></i> participar</button>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">títol proposta 7<small class="pull-right">24/12/2014</small></h4>
        <p class="list-group-item-text">{{ words(10) }}</p>
        <button type="button" class="btn btn-xs btn-default" style="margin-top:10px"><i class="fa fa-pencil-square-o"></i> participar</button>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">títol proposta 8<small class="pull-right">27/12/2014</small></h4>
        <p class="list-group-item-text">{{ words(30) }}</p>
        <button type="button" class="btn btn-xs btn-default" style="margin-top:10px"><i class="fa fa-pencil-square-o"></i> participar</button>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">títol proposta 9<small class="pull-right">28/12/2014</small></h4>
        <p class="list-group-item-text">{{ words(25) }}</p>
        <button type="button" class="btn btn-xs btn-default" style="margin-top:10px"><i class="fa fa-pencil-square-o"></i> participar</button>
    </a>
</div>
