<div class="list-group no-m-bottom">
    <a href="#" class="list-group-item">
        <h3 class="list-group-item-heading">títol proposta 6<small class="pull-right">23/12/2014</small></h3>
        <p class="list-group-item-text">{{ words(20) }}</p>
        <div class="btn-group" role="group" style="margin-top:10px">
            <button class="btn btn-sm btn-default" type="button"><span class="badge">3</span> comentaris</button>
            <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-pencil-square-o"></i> participar</button>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <h3 class="list-group-item-heading">títol proposta 7<small class="pull-right">24/12/2014</small></h3>
        <p class="list-group-item-text">{{ words(10) }}</p>
        <div class="btn-group" role="group" style="margin-top:10px">
            <button class="btn btn-sm btn-default" type="button"><span class="badge">2</span> documents</button>
            <button class="btn btn-sm btn-default" type="button"><span class="badge">5</span> comentaris</button>
            <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-pencil-square-o"></i> participar</button>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <h3 class="list-group-item-heading">títol proposta 8<small class="pull-right">27/12/2014</small></h3>
        <p class="list-group-item-text">{{ words(30) }}</p>
        <div class="btn-group" role="group" style="margin-top:10px">
            <button class="btn btn-sm btn-default" type="button"><span class="badge">2</span> documents</button>
            <button class="btn btn-sm btn-default" type="button"><span class="badge">2</span> comentaris</button>
            <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-pencil-square-o"></i> participar</button>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <h3 class="list-group-item-heading">títol proposta 9<small class="pull-right">28/12/2014</small></h3>
        <p class="list-group-item-text">{{ words(25) }}</p>
        <div class="btn-group" role="group" style="margin-top:10px">
            <button class="btn btn-sm btn-default" type="button"><span class="badge">15</span> comentaris</button>
            <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-pencil-square-o"></i> participar</button>
        </div>
    </a>
</div>
