<div class="list-group no-m-bottom">
    <a href="#" class="list-group-item">
        <h3 class="list-group-item-heading">títol proposta 10<small class="pull-right">13/11/2014</small></h3>
        <p class="list-group-item-text">{{ words(40) }}</p>
        <div class="btn-group extra-m-top" role="group">
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-file"></i> 1</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-comment"></i> 13</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-up"></i> 5</button>
            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-down"></i> 4</button>
            <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-pie-chart"></i> resultats</button>
        </div>
    </a>
</div>
