{% extends ':Front:layout.html.twig' %}

{% block main %}
    {#<!-- Banner -->#}
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="row">
                <div class="12u">
                    <h2>{% trans %}front.government.heading{% endtrans %}</h2>
                    <p>{% trans %}front.government.subheading{% endtrans %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
