{% extends ':Front:layout.html.twig' %}

{% block main %}
<div class="row">
    <div class="4u">
        {#<!-- Sidebar -->#}
        <div id="sidebar">
            <section class="widget thumbnails">
                <h3>Interesting stuff</h3>
                <div class="grid">
                    <div class="row no-collapse 50%">
                        <div class="6u"><a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a></div>
                        <div class="6u"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a></div>
                    </div>
                    <div class="row no-collapse 50%">
                        <div class="6u"><a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a></div>
                        <div class="6u"><a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a></div>
                    </div>
                </div>
                <a href="#" class="button icon fa-file-text-o">More</a>
            </section>
        </div>
    </div>
    <div class="8u important(collapse)">
        {#<!-- Content -->#}
        <div id="content">
            <section class="last">
                <h2>So what's this all about?</h2>
                <p>This is <strong>Verti</strong>, a free and fully responsive HTML5 site template by <a href="http://html5up.net">HTML5 UP</a>.
                    Verti is released under the <a href="http://html5up.net/license">Creative Commons Attribution license</a>, so feel free to use it for any personal or commercial project you might have going on (just don't forget to credit us for the design!)</p>
                <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit amet phasellus quam turpis.</p>
                <a href="#" class="button icon fa-arrow-circle-right">Continue Reading</a>
            </section>
        </div>
    </div>
</div>
{% endblock %}
