{% extends ':Front:layout.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h1 class="no-m-top">{% trans %}front.profile.title{% endtrans %}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img data-src="holder.js/263x263/text:imatge perfil" class="img-responsive" alt="dummy">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <h2 class="no-m-top">{{ user.name }}<small class="pull-right">{% trans %}front.profile.lastaccess{% endtrans %}: {{ user.lastLogin | localizeddate('medium', 'none') }}</small></h2>
                            <h4 class="no-m-top">{{ user.username }}</h4>
                            <p class="extra-m-top">{{ user.description }}</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="well">
                            <h3 class="no-m-top">{% trans %}front.profile.proposals{% endtrans %}</h3>
                            {# TODO include user proposals #}
                            {#{% include 'Front/includes/participation/proposals.open.html.twig' %}#}
                            <h3></h3>
                            {% include ':Front/includes:pagination.html.twig' %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="well">
                            <h3 class="no-m-top">{% trans %}front.profile.comments{% endtrans %}</h3>
                            <div class="form-group no-m-bottom">
                                <ul class="media-list no-m-bottom extra-m-top">
                                    {% for comment in user.comments %} {# TODO replace user.comments with comments #}
                                    <li class="media extra-m-top">
                                        <div class="media-body">
                                            <h4 class="media-heading">{{ comment.title }}<span class="label label-default pull-right">{{ comment.createdAt | localizeddate('medium', 'none') }}</span></h4>
                                            {{ comment.comment }}
                                        </div>
                                        <a class="media-right" href="{#{{ path('front_participation_proposals_show', {id: comment.proposal.id, proposal: comment.proposal.titleSlug}) }}#}"> {# TODO set proposal link #}
                                            <button type="button" class="btn btn-sm btn-default"><i class="fa fa-comments"></i> {% trans %}front.profile.showproposal{% endtrans %}</button>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_profile', {'_locale': 'ca', id: user.id, username: user.username}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_profile', {'_locale': 'es', id: user.id, username: user.username}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_profile', {'_locale': 'en', id: user.id, username: user.username}) }}{% endblock %}
