{% extends ':Front:layout.html.twig' %}

{% block main %}
    <div class="container">
        {#<!-- Last update -->#}
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h1 class="no-m-top">{% trans %}front.transparency.heading{% endtrans %} <small>{% trans %}front.transparency.update{% endtrans %} {{ data.lastUpdate | localizeddate('medium', 'none') }}</small></h1>
                </div>
            </div>
        </div>
    </div>
    {#<div id="banner-wrapper">#}
    {#<div id="banner" class="box container">#}
    {#<div class="row">#}
    {#<div class="12u">#}
    {#<h2>{% trans %}front.transparency.heading{% endtrans %}</h2>#}
    {#<p>{% trans %}front.transparency.subheading{% endtrans %}</p>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
{% endblock %}
