{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit', {'username': app.user.username}) }}" {{ form_enctype(form) }}
      method="POST" class="fos_user_profile_edit">
    <div class="row">
        <div class="form-group">
            <input id="address" type="text" class="form-control" placeholder="Enter an address">

            <div id="map"></div>
        </div>
    </div>


    {{ form_widget(form) }}
    <div class="form-group">
        <label class="sr-only" for="username">front.email</label>
        <input type="text" class="form-control" id="username" name="_username" value="" placeholder="form.label.email"
               required="required">
    </div>
    <div>
        <input type="submit" value="{{ 'profile.edit.submit' | trans }}"/>
    </div>
</form>
