{% extends sonata_block.templates.block_base %}

{% block block %}
            <div class="box-header">
                <h3 class="box-title">Comentaris</h3>
            </div>
            <div class="box-body">
                <p>{{ count }} pendents de revisar <a class="btn btn-success" href="{{ path('admin_demofony2_app_comment_list', {'filter[revised][value]': 2}) }}">Llistat</a></p>
            </div>
{% endblock %}