{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="cms-block cms-block-element">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Propostes</h3>
            </div>
            <div class="box-body">
                <p>{{ debateCount }} propostes en periode de votació <a class="btn btn-success" href="{{ path('admin_demofony2_app_proposal_list') }}">Llistat</a></p>
                <p>{{ closedWithoutInstitutionalAnswer }} propostes pendents de resposta institucional <a class="btn btn-success" href="{{ path('admin_demofony2_app_proposal_list') }}">Llistat</a></p>
            </div>
        </div>
    </div>
{% endblock %}