{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if settings.type == 'votePeriod' %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-gavel fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ debateCount }}</div>
                        <div>Propostes en periode de votació</div>
                    </div>
                </div>
            </div>
            <a href="{{ path('admin_demofony2_app_proposal_list', {'filter[state][value]': 2}) }}">
                <div class="panel-footer">
                    <span class="pull-left">Veure</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>

     {% elseif settings.type == 'institutionalAnswerPending' %}

         <div class="panel panel-primary">
             <div class="panel-heading">
                 <div class="row">
                     <div class="col-xs-3">
                         <i class="fa fa-envelope fa-5x"></i>
                     </div>
                     <div class="col-xs-9 text-right">
                         <div class="huge">{{ closedWithoutInstitutionalAnswer }}</div>
                         <div>Propostes pendents de resposta institucional</div>
                     </div>
                 </div>
             </div>

             <a href="{{ path('admin_demofony2_app_proposal_list', {'filter[pending_institutional_answer][value]':1}) }}">
                 <div class="panel-footer">
                     <span class="pull-left">Veure</span>
                     <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                     <div class="clearfix"></div>
                 </div>
             </a>
         </div>
    {% endif %}
{% endblock %}