{% extends ':Front:layout.html.twig' %}

{% block main %}
    <div class="container">
        {% include ':Front/includes:build-in-progress.html.twig' %}
        <div class="row">
            <div class="col-md-4">
                <img data-src="holder.js/360x360/text:credits image" class="img-responsive" alt="dummy">
            </div>
            <div class="col-md-8">
                <div class="well">
                    <h2 class="no-m-top">crèdits</h2>
                    <p class="extra-m-top">{{ paragraphs(4) }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_credits', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_credits', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_credits', {'_locale': 'en'}) }}{% endblock %}
