{% extends ':Mail:base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'resetting.email.subject' | trans }}{% endblock %}

{% block body %}
    {{ 'resetting.email.message'|trans({'%username%': user.username})|raw|desc("%username%") }}
    <br>
    <br>
    <a href="{{ confirmationUrl }}" target="_blank">{{ 'resetting.email.link' | trans }}</a>
    <br>
{% endblock %}
