{% extends ':Mail:base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'resetting.email.subject' | trans }}{% endblock %}

{% block body %}
    {{ 'resetting.email.message' | trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) | raw | desc('%username%') }}
    <table class="button radius">
        <tr>
            <td>
                <a href="{{ confirmationUrl }}" target="_blank">{{ 'resetting.email.link' | trans }}</a>
            </td>
        </tr>
    </table>
{% endblock %}
