{% extends ':Front:layout.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well participation-well">
                    <h1 class="no-m-top"><span class="label label-transparent"><a href="{{ path('demofony2_front_participation') }}">{% trans %}front.participation.heading{% endtrans %}</a> <i class="fa fa-chevron-right"></i> <a href="{{ path('demofony2_front_participation_proposals') }}">{% trans %}front.participation.proposals.title{% endtrans %}</a> <i class="fa fa-chevron-right"></i> nova proposta</span></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <img data-src="holder.js/1100x140/text:nova proposta" class="img-responsive" alt="dummy">
                    <h4></h4>
                    <form role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <legend>proposta</legend>
                                    <div class="form-group">
                                        <label for="title">títol</label>
                                        <input type="email" class="form-control" id="title">
                                    </div>
                                    <div class="form-group">
                                        <label for="category">categoria</label>
                                        <select class="form-control" id="category">
                                            <option>urbanisme</option>
                                            <option>medi ambient</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">descripció</label>
                                        <textarea class="form-control" rows="12" id="description"></textarea>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <legend>geolocalització</legend>
                                    <div class="form-group">
                                        <label for="address">adreça</label>
                                        <input type="text" class="form-control" id="address">
                                    </div>
                                    <div class="form-group">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5977.069361644192!2d2.3613954!3d41.4926867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4b13676ca345b%3A0xb6b51df33cc510bf!2sPremi%C3%A0+de+Mar%2C+Barcelona!5e0!3m2!1ses!2ses!4v1418223177173" width="100%" height="350" frameborder="0" style="border:0"></iframe>
                                    </div>
                                    <div class="input-group">
                                        <a href="#" class="btn btn-default"><i class="fa fa-toggle-on"></i> geolocalització activada</a>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <legend>arxius</legend>
                                    <div class="form-group">
                                        <img data-src="holder.js/100x100/text:imatge 1" alt="dummy">
                                        <img data-src="holder.js/100x100/text:imatge 2" alt="dummy">
                                        <img data-src="holder.js/100x100/text:imatge 3" alt="dummy">
                                        <h4></h4>
                                    </div>
                                    <div class="form-group">
                                        <label for="title">imatge</label>
                                        <input type="file" class="form-control" id="image">
                                    </div>
                                    <div class="input-group" style="margin-bottom:15px">
                                        <a href="#" class="btn btn-default"><i class="fa fa-plus-square"></i> afegir imatge</a>
                                    </div>
                                    <div class="form-group">
                                        <label for="category">document adjunt</label>
                                        <input type="file" class="form-control" id="document">
                                    </div>
                                    <div class="input-group">
                                        <a href="#" class="btn btn-default"><i class="fa fa-plus-square"></i> afegir document</a>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <legend>respostes disponibles</legend>
                                    <div class="form-group">
                                        <p class="form-control-static"><i class="fa fa-minus-square"></i> sí</p>
                                        <p class="form-control-static"><i class="fa fa-minus-square"></i> no</p>
                                        <p class="form-control-static"><i class="fa fa-minus-square"></i> no ho sé</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="answer">resposta</label>
                                        <input type="text" class="form-control" id="answer">
                                    </div>
                                    <div class="input-group">
                                        <a href="#" class="btn btn-default"><i class="fa fa-plus-square"></i> afegir reposta</a>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_participation_proposals_new', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_participation_proposals_new', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_participation_proposals_new', {'_locale': 'en'}) }}{% endblock %}
