{% if events %}
    <div class="text-left">
        {% for event in events %}
            {% include 'BladeTesterCalendarBundle:Event:listItem.html.twig' with {event : event} %}
        {% endfor %}
    </div>
{% endif %}
