<a href="{{ calendar_link(event) }}" class="btn btn-{{ event.category.color }} {{ size }} text-left" role="button" style="white-space:normal !important;word-wrap:break-word;margin-bottom:10px;">
    {{ event.title }}
</a>
