<a href="{# TODO: apply URL anchor path here #}#" class="btn btn-primary {{ size }} text-left" role="button" style="white-space:normal !important;word-wrap:break-word;margin-bottom:10px;">
    {{ event.title }}
</a>
